

body {
  background-color: lightblue;
}

.p {
    display: block;
    width: 5rem;
    height: 5rem;
    text-align: center;
    align-content: center;
    box-shadow: -10px 0  10px gray;
    margin: 50px
}
.p1{
    background-color: darkblue;
}
.p2{
    background-color: mediumblue;
}
.p3{
    background-color: orchid;
}



